---
import BlogLayout from '../../layouts/BlogLayout.astro';
import ContentsContainer from '../../components/ContentsContainer.astro';
import { getCollection } from 'astro:content';

const posts = (await getCollection('blog')).sort(
	(a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
);
---

<BlogLayout>
	<ContentsContainer class="main-contents"></ContentsContainer>
	<p>
		HAHA You found it! 🎉 This page is under construction lol
	</p>
</BlogLayout>

