---
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE } from "../consts";
---

<header>
  <div class="header-block"><a href="/">{SITE_TITLE}</a></div>
    <nav>
      <ul>
        <li><HeaderLink href="/">Home</HeaderLink></li>
        <li><HeaderLink href="/blog">Blog</HeaderLink></li>
        <li><HeaderLink href="/about">About</HeaderLink></li>
      </ul>
    </nav>
  
  <div class="header-block">Hello, World</div>
</header>
<style>
  header {

    background: var(--bg-color);
    box-shadow: 0 2px 8px rgba(var(--black), 5%);
    display: grid;
	border-bottom: 2px solid var(--accent-dark);
    grid-template-columns: 1fr 3fr 1fr;
    align-items: stretch;
  }
 
  .header-block a {
    text-decoration: none;
  }

  nav {

    margin-bottom: 0;
    padding: 0;
  }

  nav ul {
    list-style: none;
    margin: 0;
	display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr;
  }
  


  

  nav a {
	width: 100%;
	padding: 1em 0;
    color: var(--text-color);
    text-decoration: none;
	text-align: center;
  }
  nav a.active {
    text-decoration: none;
    border: 2px solid var(--accent-dark);
    border-bottom-color: var(--accent);
  }

  nav a.active::before {
	content: ">   ";
  }

  .internal-links HeaderLink {
    margin-right: 0;
  }
  .social-links,
  .social-links a {
    display: flex;
  }
  @media (max-width: 720px) {
    .social-links {
      display: none;
    }
  }
</style>
