---
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE } from "../consts";
---

<header>
  <nav>
    <ul>
      <li class="underline"><a href="/">{SITE_TITLE}</a></li>
      <li><HeaderLink href="/" class="underline">Home</HeaderLink></li>
      <li><HeaderLink href="/blog" class="underline">Blog</HeaderLink></li>
      <li><HeaderLink href="/about" class="underline">About</HeaderLink></li>
      <li class="underline">
        <a href="https://github.com/sij411">
          <img
            src="https://img.shields.io/badge/github-%23121011.svg?style=for-the-badge&logo=github&logoColor=white"
          />
        </a>
      </li>
    </ul>
  </nav>
</header>
<style>
  header {
    padding-top: 2rem;
    background: var(--bg-color);
    box-shadow: 0 2px 8px rgba(var(--black), 5%);
  }

  nav {
    margin-bottom: 0;
    padding: 0;
    display: grid;
  }

  nav ul {
    list-style: none;
    margin: 0;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    text-align: center;
  }

  li img {
    height: 0.9em;
  }

  .underline {
    border-bottom: 2px solid var(--accent-dark);
  }

  nav a {
    width: 100%;
    color: var(--text-color);
    text-decoration: none;
    text-align: center;
  }

  nav a.active {
    background: rgb(var(--cyber-black));
    text-decoration: none;
    border: 2px solid var(--accent-dark);
    border-bottom: transparent;
  }

  nav a.active::before {
    content: ">";
  }

  .internal-links HeaderLink {
    margin-right: 0;
  }
  .social-links,
  .social-links a {
    display: flex;
  }
  @media (max-width: 720px) {
    .social-links {
      display: none;
    }
  }
</style>
