---
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE } from "../consts";
---

<header>
  <nav>
    <ul>
      <li>
        <HeaderLink href="">{SITE_TITLE}</HeaderLink></li>
        <li><HeaderLink href="/">Home</HeaderLink></li>
        <li><HeaderLink href="blog-2024-June/blog/main">Blog</HeaderLink></li>
        <li>
          <HeaderLink href="">Projects</HeaderLink>
        </li>
        <li>
          <HeaderLink href="https://github.com/sij411"> GitHub </HeaderLink>
        </li>
      </li>
    </ul>
  </nav>
  <style>
    header {
      padding-top: 2rem;
      background: var(--bg-color);
      box-shadow: 0 2px 8px rgba(var(--black), 5%);
    }

    nav {
      margin-bottom: 0;
      padding: 0;
      display: grid;
    }

    nav ul {
      list-style: none;
      margin: 0;
      padding: 0;
      display: grid;
      align-items: center;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
      text-align: center;
    }

    nav a {
      text-align: center;

      color: var(--text-color);
      text-decoration: none;
      text-align: center;

      width: 100%;
      border: 2px solid transparent;
      border-bottom-color: var(--accent-dark);
    }

    nav a.active {
      text-decoration: none;
      border-color: var(--accent-dark);
      border-bottom: transparent;
    }

    nav a.active::before {
      content: ">";
    }

    .internal-links HeaderLink {
      margin-right: 0;
    }
    .social-links,
    .social-links a {
      display: flex;
    }
    @media (max-width: 720px) {
      .social-links {
        display: none;
      }
    }
  </style>
</header>
