---
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE } from "../consts";
---

<header>
  <div class="header-block"><a href="/">{SITE_TITLE}</a></div>
  <div>
    <nav>
      <ul>
        <li><HeaderLink href="/">Home</HeaderLink></li>
        <li><HeaderLink href="/blog">Blog</HeaderLink></li>
        <li><HeaderLink href="/about">About</HeaderLink></li>
      </ul>
    </nav>
  </div>
  <div class="header-block"></div>
</header>
<style>
  header {
    margin: 0;
    padding: 0 1em;
    background: var(--bg-color);
    box-shadow: 0 2px 8px rgba(var(--black), 5%);
    display: grid;

    grid-template-columns: auto 1fr auto;
    align-items: stretch;
  }
  .header-block {
    width: 100px;
    border-bottom: 2px solid var(--accent-dark);
  }

  .header-block a {
    text-decoration: none;
  }

  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0;
    padding: 0;
  }

  nav ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
  }

  nav a {
    padding: 1em 0.5em;
    color: var(--text-color);
    text-decoration: none;
    border-bottom: 2px solid var(--accent-dark);
    margin-bottom: 0;
  }
  nav a.active {
    text-decoration: none;
    border: 2px solid var(--accent-dark);
    border-bottom-color: transparent;
  }

  .internal-links HeaderLink {
    margin-right: 0;
  }
  .social-links,
  .social-links a {
    display: flex;
  }
  @media (max-width: 720px) {
    .social-links {
      display: none;
    }
  }
</style>
