---
import type { CollectionEntry } from "astro:content";
import FormattedDate from "../components/FormattedDate.astro";

type Props = CollectionEntry<"blog">["data"];

const { title, pubDate, updatedDate } = Astro.props;
---

<style>
  article {
    max-width: 100%;
    margin: 0;
    color: var(--text);
  }
  .prose {
    max-width: calc(100% - 2em);
    margin: auto;
    padding: 1em;
    color: var(--text);
  }
  .title {
    margin-bottom: 1em;
    padding: 1em 0;
    text-align: center;
    line-height: 1;
  }
  .title h1 {
    color: var(--accent-dark);
    margin: 0 0 0.5em 0;
  }
  .date {
    margin-bottom: 0.5em;
    color: var(--accent);
  }
  .last-updated-on {
    font-style: italic;
  }
</style>


  <article>
    <div class="prose">
      <div class="title">
        <div class="date">
          <FormattedDate date={pubDate} />
          {
            updatedDate && (
              <div class="last-updated-on">
                Last updated on <FormattedDate date={updatedDate} />
              </div>
            )
          }
        </div>
        <h1>{title}</h1>
        <hr />
      </div>
      <slot />
    </div>
  </article>

